In [3]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/navinniish/Datasets/master/fifa.csv')
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [20]:
df = df[df['Overall'] > 74]
df.shape

(2068, 60)

# Normalizing Data

In [21]:
print(df.shape)
df.dropna(subset=['Position'], axis=0, inplace=True)
df.shape

(2068, 60)

(2068, 60)

In [22]:
selected_columns = ['Crossing', 'Finishing', 'HeadingAccuracy',
       'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 'FKAccuracy',
       'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed',
       'Agility', 'Reactions', 'Balance', 'ShotPower', 'Jumping',
       'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions',
       'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking',
       'StandingTackle', 'SlidingTackle', 'GKDiving', 'GKHandling',
       'GKKicking', 'GKPositioning', 'GKReflexes']
label = df['Position']
rdf = df[selected_columns]
rdf.head()

,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [23]:
pos_map = {
    "F": ['CF', 'LF', 'RF', 'LS', 'ST', 'LW', 'RS', 'RW'],
    "M": ['CAM', 'CDM', 'CM', 'LAM', 'LCM', 'LDM', 'LM', 'RAM', 'RCM', 'RDM', 'RM'],
    "D": ['CB', 'LB', 'LCB', 'LWB', 'RB', 'RCB', 'RWB'],
    "G": ['GK']
    }
label = label.tolist()
for i in range(len(label)):
    mapped = False
    for j in pos_map.keys():
        if label[i] in pos_map[j]:
            label[i] = j
            mapped = True
            break
    if not mapped:
        print(i)
label = pd.DataFrame(label,columns=['Position'])
label.head()

  Position
0        F
1        F
2        F
3        G
4        M

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(rdf, label, test_size=0.3, random_state=30)

In [25]:
X_train = pd.DataFrame(X_train, columns=selected_columns)
X_test = pd.DataFrame(X_test, columns=selected_columns)
Y_train = pd.DataFrame(Y_train, columns=['Position'])
Y_test = pd.DataFrame(Y_test, columns=['Position'])
print("X_train: " + str(X_train.shape))
print("X_test: " + str(X_test.shape))
print("Y_train: " + str(Y_train.shape))
print("Y_test: " + str(Y_test.shape))

X_train: (1447, 34)
X_test: (621, 34)
Y_train: (1447, 1)
Y_test: (621, 1)

# Clustring Algorithm begin

In [65]:
DESIRED_CLUSTERS = 4
CONSTANT_NUMBER_G = 2
CONSTATN_NUMBER_K = 5

In [66]:
from scipy.spatial import distance_matrix

In [67]:
D_original = pd.DataFrame(distance_matrix(X_train.values,X_train.values), index=list(range(X_train.shape[0])), columns=list(range(X_train.shape[0])))
D_original.shape

(1447, 1447)

In [68]:
K = CONSTATN_NUMBER_K
R_k = []
for idx ,x in D_original.iterrows():
    R_k.append(list(x.nsmallest(K + 1).keys()))

R_k = pd.DataFrame(R_k)
R_k.shape

(1447, 6)

In [69]:
N = X_train.shape[0]
L = list(range(0,N))
G = CONSTANT_NUMBER_G

In [70]:
C_previous = N
C_current = math.floor(N/G)

In [81]:
D_current = np.zeros((N,N))
# R_k_list = R_k.values.tolist()
D_org_list = D_original.values.tolist()
R_k_list = R_k.values.tolist()
k2 = (K + 1)**2
for i in range(N):
    for j in range(i, N):
        sum_val = 0
        R_k_i = R_k_list[i]
        R_k_j = R_k_list[j]
        for h in range(K):
            for p in range(K):                
                # sum_val += D_original.iloc[R_k_i[h],R_k_j[p]]
                sum_val += D_org_list[R_k_i[h]][R_k_j[p]]
        # R_k_i = R_k_list[i]
        # R_k_j = R_k_list[j]
        # temp = D_original.iloc[R_k_i, R_k_j]
        dist = sum_val/(k2)
        D_current[i][j] = dist
        D_current[j][i] = dist
D_current = pd.DataFrame(D_current)
print(D_current.shape)
D_current.head()

(1447, 1447)

,0,1,2,3,4,5,6,7,8,9,...,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446
0,21.299737,32.683328,212.705435,201.749120,30.425916,200.048454,196.592423,193.931619,205.520958,192.327600,...,188.156745,210.105652,194.496819,187.836810,210.278927,204.635131,199.102403,42.241650,190.828143,194.597410
1,32.683328,16.048670,205.893027,195.714219,26.792768,193.956564,191.101160,188.603199,199.314984,186.645570,...,182.573793,203.859259,188.640179,181.425065,203.733279,198.324259,193.341388,31.594770,185.837340,189.098056
2,212.705435,205.893027,17.428066,35.109309,209.147247,33.458294,44.081451,69.568463,28.806268,72.228474,...,68.396315,23.558355,61.738757,61.975214,22.707275,33.393697,49.597674,196.597438,62.291860,42.770564
3,201.749120,195.714219,35.109309,19.758499,198.926798,41.517750,30.839465,48.397395,41.285188,61.899520,...,65.018951,27.329694,52.081291,71.273269,31.336768,42.851090,35.957612,186.047355,43.154062,26.811994
4,30.425916,26.792768,209.147247,198.926798,19.655979,196.904241,193.925742,191.598471,202.047149,189.104837,...,184.354548,206.960251,190.886933,183.717395,207.043537,201.042881,196.471853,38.938293,188.622258,192.092871